.hidden {
    display: none;
}

#wrapper {
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
}

#languages {
    height: 32px;
    font-size: 28px;
    padding: 8px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-list {
    position: absolute;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border: solid 1px gray;
    width: calc(100% - 2px);
}

.autocomplete-list > li {
    padding: 5px 10px;
    cursor: pointer;
}

    .autocomplete-list > li:hover {
        background-color: #e3e3e3;
    }
